<div id="TableContainer" class="container">

    <section class="persona-grilla"> 
        <div class="container">
         
          <div class="row">
            <div class="col-md-12">
                <nf-table id="myTable"
                          v-bind:data="data"
                          v-bind:mode="mode"
                          v-bind:columns="configColumns"
                          v-bind:select="select"
                          v-bind:responsive="responsive"
                          v-on:created-row="createdRow"
                          v-on:selected-row="selectedRow"
                          ref="ABMtable"
                          v-on:unselected-row="selectedRow">
                    <div slot="toolbar">
                        <app-botoneraTabla v-bind:selection="selection"></app-botoneraTabla>       
                    </div>
                </nf-table>
            </div>
        </div>
        
        </div> 
        </section>

</div>



